-- CreateTable
CREATE TABLE "animal" (
    "animal_id" SERIAL NOT NULL,
    "animal_name" VARCHAR(40) NOT NULL,
    "animal_born" DATE,
    "owner_id" INTEGER NOT NULL,
    "at_id" INTEGER NOT NULL,

    CONSTRAINT "animal_pkey" PRIMARY KEY ("animal_id")
);

-- CreateTable
CREATE TABLE "animal_type" (
    "at_id" SERIAL NOT NULL,
    "at_description" VARCHAR(40) NOT NULL,

    CONSTRAINT "animal_type_pkey" PRIMARY KEY ("at_id")
);

-- CreateTable
CREATE TABLE "clinic" (
    "clinic_id" SERIAL NOT NULL,
    "clinic_name" VARCHAR(50) NOT NULL,
    "clinic_address" VARCHAR(80),
    "clinic_phone" VARCHAR(14),

    CONSTRAINT "clinic_pkey" PRIMARY KEY ("clinic_id")
);

-- CreateTable
CREATE TABLE "drug" (
    "drug_id" SERIAL NOT NULL,
    "drug_name" VARCHAR(50) NOT NULL,
    "drug_usage" VARCHAR(100),

    CONSTRAINT "drug_pkey" PRIMARY KEY ("drug_id")
);

-- CreateTable
CREATE TABLE "owners" (
    "owner_id" SERIAL NOT NULL,
    "owner_givenname" VARCHAR(30) NOT NULL,
    "owner_familyname" VARCHAR(30) NOT NULL,
    "owner_address" VARCHAR(100),
    "owner_phone" VARCHAR(14),

    CONSTRAINT "owners_pkey" PRIMARY KEY ("owner_id")
);

-- CreateTable
CREATE TABLE "spec_visit" (
    "clinic_id" INTEGER NOT NULL,
    "vet_id" INTEGER NOT NULL,
    "sv_count" INTEGER,

    CONSTRAINT "spec_visit_pkey" PRIMARY KEY ("clinic_id","vet_id")
);

-- CreateTable
CREATE TABLE "specialisation" (
    "spec_id" SERIAL NOT NULL,
    "spec_description" VARCHAR(30) NOT NULL,

    CONSTRAINT "specialisation_pkey" PRIMARY KEY ("spec_id")
);

-- CreateTable
CREATE TABLE "vet" (
    "vet_id" SERIAL NOT NULL,
    "vet_title" CHAR(4),
    "vet_givenname" VARCHAR(30) NOT NULL,
    "vet_familyname" VARCHAR(30) NOT NULL,
    "vet_phone" VARCHAR(14),
    "vet_employed" DATE,
    "spec_id" INTEGER,
    "clinic_id" INTEGER,

    CONSTRAINT "vet_pkey" PRIMARY KEY ("vet_id")
);

-- CreateTable
CREATE TABLE "visit" (
    "visit_id" SERIAL NOT NULL,
    "visit_date_time" TIMESTAMP(6),
    "visit_notes" VARCHAR(200),
    "animal_id" INTEGER NOT NULL,
    "vet_id" INTEGER NOT NULL,
    "from_visit_id" INTEGER,

    CONSTRAINT "visit_pkey" PRIMARY KEY ("visit_id")
);

-- CreateTable
CREATE TABLE "visit_drug" (
    "visit_id" INTEGER NOT NULL,
    "drug_id" INTEGER NOT NULL,
    "visit_drug_dose" VARCHAR(20),
    "visit_drug_frequency" VARCHAR(20),
    "visit_drug_qtysupplied" INTEGER,

    CONSTRAINT "visit_drug_pkey" PRIMARY KEY ("visit_id","drug_id")
);

-- AddForeignKey
ALTER TABLE "animal" ADD CONSTRAINT "animal_at_id_fkey" FOREIGN KEY ("at_id") REFERENCES "animal_type"("at_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "animal" ADD CONSTRAINT "animal_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "owners"("owner_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "spec_visit" ADD CONSTRAINT "spec_visit_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "clinic"("clinic_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "spec_visit" ADD CONSTRAINT "spec_visit_vet_id_fkey" FOREIGN KEY ("vet_id") REFERENCES "vet"("vet_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "vet" ADD CONSTRAINT "vet_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "clinic"("clinic_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "vet" ADD CONSTRAINT "vet_spec_id_fkey" FOREIGN KEY ("spec_id") REFERENCES "specialisation"("spec_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "visit" ADD CONSTRAINT "visit_animal_id_fkey" FOREIGN KEY ("animal_id") REFERENCES "animal"("animal_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "visit" ADD CONSTRAINT "visit_from_visit_id_fkey" FOREIGN KEY ("from_visit_id") REFERENCES "visit"("visit_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "visit" ADD CONSTRAINT "visit_vet_id_fkey" FOREIGN KEY ("vet_id") REFERENCES "vet"("vet_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "visit_drug" ADD CONSTRAINT "visit_drug_drug_id_fkey" FOREIGN KEY ("drug_id") REFERENCES "drug"("drug_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "visit_drug" ADD CONSTRAINT "visit_drug_visit_id_fkey" FOREIGN KEY ("visit_id") REFERENCES "visit"("visit_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

